body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #ffd9a8;   /* light orange */
    color: #1e4ed8;        /* blue text */
}


h1 {
    margin-top: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-gap: 5px;
    justify-content: center;
    margin-top: 30px;
}

.tile {
    width: 60px;
    height: 60px;
    border: 2px solid #3a3a3c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1e4ed8;  /* blue letters */
}



.correct {
    background: #6aaa64;
}

.present {
    background: #c9b458;
}

.absent {
    background: #3a3a3c;
}

#keyboard {
    margin-top: 30px;
}

.key {
    display: inline-block;
    padding: 10px;
    margin: 3px;
    background: #818384;
    border-radius: 4px;
    cursor: pointer;
}
